@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-BOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-BLACK.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@import "sass/helpers/variables";
@import "sass/helpers/mixins";
body {
  font-family: "taj";
  overflow: unset;
}
* {
  outline: none !important;
}
.container {
  @include lg {
    max-width: 1170px;
  }
}
@import "sass/new/header";
@import "sass/new/footer";
@import "sass/new/bread";
@import "sass/new/blog";
@import "sass/new/offers";
@import "sass/new/post";
@import "sass/new/vpn";
@import "sass/new/join";

.preloader {
  display: none;
}
@include xs {
  .breadcrumb-sec {
    display: none;
  }
}
