@charset "UTF-8";
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-BOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "taj";
  src: url("../fonts/TAJAWAL/TAJAWAL-BLACK.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "taj";
  overflow: unset;
}

* {
  outline: none !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*////////////////////// New Header //////////////////////*/
header {
  height: 86px;
}
@media (max-width: 992px) {
  header {
    height: 62px;
  }
}
header .container {
  max-width: 100%;
  padding: 0 30px;
}
@media (max-width: 1199px) {
  header .container {
    padding: 0 15px;
  }
}
header .header {
  align-items: center;
}
header .logo {
  width: 201px;
  -webkit-margin-end: 45px;
          margin-inline-end: 45px;
}
@media (max-width: 1199px) {
  header .logo {
    -webkit-margin-end: 30px;
            margin-inline-end: 30px;
  }
}
@media (max-width: 992px) {
  header .logo {
    width: 150px;
  }
}
@media (max-width: 992px) {
  header .fixed-header {
    padding: 10px 0;
  }
}
header .fixed-header .nav-tgl {
  position: relative;
  inset: unset;
  transform: none;
}
header .fixed-header .nav-li > .nav-anchor {
  line-height: 86px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  header .fixed-header .nav-li > .nav-anchor {
    line-height: unset;
  }
}
header .fixed-header .nav-li > .nav-anchor:after {
  line-height: 86px;
}
@media (max-width: 992px) {
  header .fixed-header .nav-li > .nav-anchor:after {
    line-height: unset;
  }
}
@media (max-width: 992px) {
  header .fixed-header.scroll {
    padding: 7px 0;
  }
}
header .fixed-header.scroll .nav-li > .nav-anchor {
  line-height: 60px;
}
@media (max-width: 992px) {
  header .fixed-header.scroll .nav-li > .nav-anchor {
    line-height: unset;
  }
}
header .fixed-header.scroll .nav-li > .nav-anchor:after {
  line-height: 60px;
}
@media (max-width: 992px) {
  header .fixed-header.scroll .nav-li > .nav-anchor:after {
    line-height: unset;
  }
}
header .fixed-header.scroll .logo {
  width: 150px;
}
@media (max-width: 992px) {
  header .fixed-header.scroll .logo {
    width: 120px;
  }
}
header .fixed-header.scroll .nav-tgl {
  top: unset;
}
header ._2nd-sec {
  align-items: center;
  width: 100%;
}

.mo-navbar {
  -webkit-margin-end: 46px;
          margin-inline-end: 46px;
}
@media (max-width: 1199px) {
  .mo-navbar {
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
  }
}

.nav-anchor {
  font-family: "taj";
  font-weight: 500;
  white-space: nowrap;
}

.nav-li {
  margin: 0;
  -webkit-margin-end: 24px;
          margin-inline-end: 24px;
}
.nav-li:last-of-type {
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
@media (max-width: 1199px) {
  .nav-li {
    -webkit-margin-end: 10px;
            margin-inline-end: 10px;
  }
}

.lang {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  display: flex;
  align-items: center;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .lang {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
}
.lang img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-margin-start: 9px;
          margin-inline-start: 9px;
}
.lang:hover {
  text-decoration: none;
  color: #ffad35;
}
@media (max-width: 992px) {
  .lang {
    position: absolute;
    top: 17px;
    margin: 0;
    inset-inline-start: 18px;
  }
}

.search-cont {
  width: 100%;
}
@media (max-width: 992px) {
  .search-cont {
    width: 280px;
  }
}
.search-cont .easy-autocomplete {
  width: 100% !important;
  max-width: 100% !important;
}
@media (max-width: 1199px) {
  .search-cont .easy-autocomplete {
    width: 250px !important;
  }
}
@media (max-width: 992px) {
  .search-cont .easy-autocomplete {
    width: 100% !important;
  }
}
.search-cont .search-input {
  border: 1px solid #ededed;
  border-radius: 20px;
  background-color: #fcfcfc;
  color: #4d4d4d;
  font-size: 16px;
  text-align: right;
  width: 100%;
  height: 40px;
  padding-right: 45px;
  padding-left: 20px;
  box-shadow: none;
}
.search-cont .search-input::-moz-placeholder {
  font-size: 14px;
  color: #b8b8b8;
}
.search-cont .search-input::placeholder {
  font-size: 14px;
  color: #b8b8b8;
}
.search-cont .search-input:focus {
  border-color: #ffad35;
}
@media (max-width: 992px) {
  .search-cont .search-input {
    width: 280px;
  }
}

footer {
  padding-top: 62px;
}
@media (max-width: 992px) {
  footer {
    padding-bottom: 20px;
  }
}
footer .logo {
  width: 201px;
}
footer .logo-text {
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}
@media (max-width: 992px) {
  footer .logo-text {
    margin-bottom: 0;
  }
}
footer .download-cont {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  footer .download-cont {
    justify-content: center;
    margin-bottom: 25px;
  }
}
footer .download-cont a {
  display: flex;
  align-items: center;
  max-width: 142px;
  transition: all 0.3s ease-in-out;
}
footer .download-cont a ~ a {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
footer .download-cont a:hover {
  transform: translateY(-5px);
}

.foot-header {
  font-size: 16px;
  font-family: "taj";
  font-weight: 700;
  margin-bottom: 20px;
}

.nav-foot-link {
  font-family: "taj";
  font-weight: 300;
  font-size: 14px;
}

.nav-foot-li {
  margin-bottom: 9px;
}
.nav-foot-li:last-of-type {
  margin-bottom: 0;
}

.arro_top {
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 14px;
  bottom: 10px;
  inset-inline-start: 10px;
}
@media (max-width: 992px) {
  .arro_top {
    bottom: 10px;
  }
}

.breadcrumb-sec .breadcrumb {
  margin: 30px 0 40px;
}
.breadcrumb-sec .breadcrumb li {
  display: flex;
  align-items: center;
}
.breadcrumb-sec .breadcrumb li a {
  font-size: 12px;
  color: #808080;
  transition: all 0.3s ease-in-out;
}
.breadcrumb-sec .breadcrumb li a:hover {
  color: #ffad35;
}
.breadcrumb-sec .breadcrumb li::after {
  margin-right: 12px;
  margin-left: 14px;
  color: #808080;
  content: "/ ";
  font-size: 12px;
}
.breadcrumb-sec .breadcrumb li.active {
  font-size: 12px;
  color: #808080;
}
.breadcrumb-sec .breadcrumb li.active::after {
  display: none;
}

.blog-banner-sec {
  padding-top: 20px;
}
@media (max-width: 992px) {
  .blog-banner-sec {
    padding-top: 15px;
  }
}

.blog-banner-cont {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.blog-banner-cont img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.blog-banner-cont a {
  display: block;
  position: relative;
}
.blog-banner-cont a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 750px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.blog-banner-cont a:hover::after {
  animation: circle 1s;
}
.blog-banner-cont a:hover img {
  transform: scale(1.05);
}

@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);
  }
  40% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
.main-blog-sec {
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .main-blog-sec {
    padding: 20px 0 5px;
  }
}

.main-blog-grid {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px 14px;
}
@media (max-width: 992px) {
  .main-blog-grid {
    grid-template-columns: 1fr;
    max-width: 550px;
    margin: auto;
    gap: 15px;
  }
}

.main-blog-item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}
.main-blog-item .item-img {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
}
.main-blog-item .item-img:after {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%);
  opacity: 0.902;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 992px) {
  .main-blog-item .item-img {
    padding-bottom: 91.2248628885%;
    height: auto;
  }
}
.main-blog-item .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.main-blog-item .item-cat {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: absolute;
  top: 7px;
  inset-inline-start: 7px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.main-blog-item .item-cat:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ffad35;
}
.main-blog-item .item-name {
  position: absolute;
  bottom: 30px;
  inset-inline: 23px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.main-blog-item .item-name:hover {
  color: #ffad35;
  text-decoration: none;
}
.main-blog-item:nth-of-type(2) {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
}
@media (max-width: 992px) {
  .main-blog-item:nth-of-type(2) {
    grid-column: unset;
    grid-row: unset;
  }
}
.main-blog-item:nth-of-type(2) .item-img {
  padding-bottom: 91.2248628885%;
  height: auto;
}
.main-blog-item:nth-of-type(2) .item-name {
  inset-inline: 30px;
  font-size: 20px;
  height: 60px;
  bottom: 21px;
}
@media (max-width: 992px) {
  .main-blog-item:nth-of-type(2) .item-name {
    bottom: 30px;
    inset-inline: 23px;
    font-size: 16px;
    height: 48px;
  }
}
.main-blog-item:hover img {
  transform: scale(1.05);
}

.blog-mixItUp-sec {
  padding: 50px 0 120px;
}
@media (max-width: 992px) {
  .blog-mixItUp-sec {
    padding: 35px 0 50px;
  }
}

.blog-mixItUp-title {
  font-size: 22px;
  font-weight: 700;
  color: #4d4d4d;
  margin: 0 0 30px;
}

.blog-mixItUp-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  margin-bottom: 15px;
  padding-bottom: 5px;
  scrollbar-width: thin;
  scrollbar-color: #999999 #e6e6e6;
}
.blog-mixItUp-btns::-webkit-scrollbar {
  background-color: #e6e6e6;
  height: 5px;
  border-radius: 2.5px;
}
.blog-mixItUp-btns::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #999999;
}
.blog-mixItUp-btns button {
  color: #999999;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  height: 36px;
  border-radius: 18px;
  padding: 0 20px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.blog-mixItUp-btns button:hover {
  border-color: #ffad35;
  background-color: #ffad35;
  color: #fff;
}
.blog-mixItUp-btns button.mixitup-control-active {
  border-color: #ffad35;
  background-color: #fff;
  color: #ffad35;
}

.blog-mixItUp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 30px;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .blog-mixItUp-grid {
    gap: 30px 15px;
  }
}
@media (max-width: 992px) {
  .blog-mixItUp-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.blog-item {
  position: relative;
}
@media (max-width: 992px) {
  .blog-item {
    max-width: 360px;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
}
.blog-item .item-img {
  position: relative;
  padding-bottom: 66.6666666667%;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  width: 100%;
}
.blog-item .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.blog-item .item-img:hover img {
  transform: scale(1.05);
}
.blog-item .cat-item {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  position: absolute;
  top: 7px;
  inset-inline-start: 7px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.blog-item .cat-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ffad35;
}
.blog-item .item-name {
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
  margin-top: 20px;
}
.blog-item .item-name a {
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
}
.blog-item .item-name a:hover {
  color: #ffad35;
  text-decoration: none;
}

.offers-pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.offers-pattern img {
  width: 100%;
}
@media (max-width: 992px) {
  .offers-pattern {
    top: 60px;
  }
}

.offers-sec {
  position: relative;
  z-index: 2;
  padding: 100px 0 50px;
}
@media (max-width: 992px) {
  .offers-sec {
    padding: 60px 0 30px;
  }
}

.sec-header {
  font-size: 24px;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .sec-header {
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.cop-div {
  border-radius: 15px;
}
@media (max-width: 992px) {
  .cop-div {
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
  }
}
.cop-div .cop-div-head {
  padding: 0 11px;
  align-items: flex-start;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .cop-div .cop-div-head {
    padding: 0 0px;
  }
}
.cop-div .store {
  flex-shrink: 0;
  margin: 0;
  border: 1px solid #ededed;
  -webkit-margin-end: 25px;
          margin-inline-end: 25px;
}
@media (max-width: 992px) {
  .cop-div .store {
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
  }
}
.cop-div .left-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: unset;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.cop-div .line {
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cop-div .value {
  font-size: 18px;
  color: #4d4d4d;
  font-family: "taj";
  font-weight: 700;
}
.cop-div .value:hover {
  color: #ffad35;
}
.cop-div .tags {
  margin-top: 5px;
}
.cop-div .tag {
  font-family: "taj";
  font-weight: 500;
}
.cop-div .tag.valide-tag {
  margin: 0;
}
.cop-div .tag ~ .tag {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.cop-div .code {
  width: 100%;
  margin: 14px 0 0;
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}
.cop-div .code:hover {
  color: #4d4d4d;
}
.cop-div .code.show-offer {
  justify-content: center;
  font-family: "taj";
  font-weight: 700;
}
.cop-div .code.show-offer:hover {
  color: #fff;
}
.cop-div .code .code-cover {
  padding: 0;
  justify-content: center;
  font-family: "taj";
  font-weight: 700;
}
.cop-div .cop-div-desc {
  padding: 0 16px;
  margin: 0 0 17px;
  font-size: 16px;
  color: #4d4d4d;
  font-family: "taj";
  line-height: 1.5;
}

.offers-desc-sec {
  padding: 50px 0 80px;
}
@media (max-width: 992px) {
  .offers-desc-sec {
    padding: 30px 0 50px;
  }
}

.offers-desc-cont {
  color: #4d4d4d !important;
  font-family: "taj" !important;
  line-height: 1.667 !important;
}
.offers-desc-cont h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 30px;
}
@media (max-width: 992px) {
  .offers-desc-cont h2 {
    font-size: 30px;
    margin: 0 0 20px;
  }
}
.offers-desc-cont h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 30px;
}
@media (max-width: 992px) {
  .offers-desc-cont h5 {
    font-size: 20px;
    margin: 0 0 20px;
  }
}
.offers-desc-cont p {
  font-size: 18px;
  margin: 0 0 37px;
}
@media (max-width: 992px) {
  .offers-desc-cont p {
    font-size: 14px;
    margin: 0 0 25px;
  }
}
.offers-desc-cont img {
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 0 45px;
}
@media (max-width: 992px) {
  .offers-desc-cont img {
    margin: 0 0 30px;
  }
}

.post-page {
  padding: 55px 0 125px;
}
.post-page .sec-head {
  text-align: center;
}

.single-post {
  width: 100%;
  max-width: 946px;
  margin: auto;
}

.sec-head {
  font-size: 24px;
  font-family: "taj";
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .sec-head {
    text-align: center;
  }
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
}
@media (max-width: 992px) {
  .post-info {
    flex-wrap: wrap;
  }
}
.post-info .user {
  font-size: 14px;
  color: #4d4d4d;
}
.post-info .user a {
  -webkit-margin-start: 6px;
          margin-inline-start: 6px;
}
@media (max-width: 992px) {
  .post-info .user {
    margin: 0 0 10px;
  }
}
.post-info .user-img {
  width: 36px;
  height: 36px;
  min-width: auto;
  min-height: auto;
  flex-shrink: 0;
  margin: 0;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.post-info .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-info .post-info-item {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 14px;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}
@media (max-width: 992px) {
  .post-info .post-info-item {
    margin: 0 15px;
  }
}
.post-info .post-info-item i {
  font-size: 16px;
  -webkit-margin-end: 9px;
          margin-inline-end: 9px;
}
.post-info .post-info-item.comments-link {
  transition: all 0.3s ease-in-out;
}
.post-info .post-info-item.comments-link:hover {
  color: #ffad35;
}

.imgs {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 22px;
}
.imgs .cat {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9px;
  background-color: rgba(0, 0, 0, 0.5);
  inset: unset;
  top: 10px;
  inset-inline-start: 10px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
.imgs .cat:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ffad35;
}

.post-share {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .post-share {
    margin-bottom: 25px;
  }
}
.post-share .share-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 15px;
  color: #fff !important;
  height: 47px;
  min-width: 47px;
  border-radius: 2px;
  margin: 4px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.post-share .share-link .text {
  display: flex;
  align-items: center;
}
.post-share .share-link .text:before {
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fff;
  opacity: 0.5;
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
@media (max-width: 992px) {
  .post-share .share-link .text {
    display: none;
  }
}
.post-share .share-link.facebook-share {
  background-color: #4080ff;
}
.post-share .share-link.twitter-share {
  background-color: #40bff5;
}
.post-share .share-link.linkedin-share {
  background-color: #238cc8;
}
.post-share .share-link.tumblr-share {
  background-color: #35465c;
}
.post-share .share-link.pinterest-share {
  background-color: #e13138;
}
.post-share .share-link.reddit-share {
  background-color: #ff4500;
}
.post-share .share-link.vk-share {
  background-color: #45668e;
}
.post-share .share-link.email-share {
  background-color: #333333;
}
.post-share .share-link.print-share {
  background-color: #444444;
}
.post-share .share-link:hover {
  color: #fff;
  background-color: #ffad35;
  text-decoration: none;
}
.post-share .share-link ~ .share-link {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.post-dsec {
  color: #4d4d4d;
  font-family: "taj" !important;
  line-height: 1.667 !important;
  padding-bottom: 70px;
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 992px) {
  .post-dsec {
    padding-bottom: 45px;
  }
}
.post-dsec p {
  font-size: 18px;
  margin: 0 0 45px;
}
.post-dsec p strong {
  font-weight: 700;
}
@media (max-width: 992px) {
  .post-dsec p {
    font-size: 14px;
    margin: 0 0 30px;
  }
}
.post-dsec mark {
  padding: 0;
  background-color: transparent;
  color: #ffad35;
}
.post-dsec h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 12px;
}
@media (max-width: 992px) {
  .post-dsec h5 {
    font-size: 20px;
  }
}
.post-dsec strong {
  font-weight: 500;
  font-size: 18px;
}
.post-dsec img {
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 35px;
}
.post-dsec :last-child {
  margin-bottom: 0;
}

.desc-coupones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .desc-coupones {
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    max-width: 296px;
    margin: 0 auto 35px;
  }
}
.desc-coupones .cop-div {
  background-color: #4d4d4d;
  padding: 27px 38px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.desc-coupones .cop-div .store {
  width: 74px;
  height: 74px;
  border: 3px solid #fff;
  margin: 0 0 20px;
}
.desc-coupones .cop-div .store img {
  margin: 0;
}
.desc-coupones .cop-div .cop-div-desc {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  height: 48px;
}
.desc-coupones .cop-div .code {
  margin: 22px 0 0;
  color: #fff;
}

.post-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.post-tags .tags-title {
  font-weight: 700;
  font-size: 14px;
  color: #4d4d4d;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.post-tags .post-tag {
  padding: 0 22px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
  margin: 2.5px 0;
}
.post-tags .post-tag ~ .post-tag {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.post-tags .post-tag:hover {
  color: #fff;
  background-color: #ffad35;
  text-decoration: none;
}

.post-related {
  padding-top: 95px;
}
@media (max-width: 992px) {
  .post-related {
    padding-top: 65px;
  }
}
.post-related .sec-header {
  font-size: 22px;
  margin-bottom: 27px;
}
.post-related .owl-nav {
  display: none;
}
.post-related .owl-dots {
  display: none;
}
@media (max-width: 992px) {
  .post-related .owl-dots {
    display: flex;
  }
}

#comments .sec-head {
  text-align: start;
}

.comments {
  margin-top: 110px;
  padding-top: 35px;
  border-top: 1px solid #f2f2f2;
}
@media (max-width: 992px) {
  .comments {
    padding-top: 20px;
    margin-top: 80px;
  }
}
.comments .comment {
  align-items: flex-start;
}
.comments .user-img {
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .post-page {
    padding: 40px 0 85px;
  }
}

.article-sec {
  padding: 30px 0 100px;
}

.article-cont {
  width: 100%;
  max-width: 946px;
  margin: auto;
}

.article-img {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

.article-feats .feats-list {
  margin-bottom: 40px;
  padding: 0;
}
.article-feats .feats-list li {
  color: #4d4d4d;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.article-feats .feats-list li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: #ff9436;
  -webkit-margin-end: 14px;
          margin-inline-end: 14px;
}

.article-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 31px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .article-items {
    gap: 15px;
  }
}
@media (max-width: 992px) {
  .article-items {
    grid-template-columns: 1fr;
  }
}

.article-item {
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #ededed;
}
@media (max-width: 992px) {
  .article-item {
    max-width: 457px;
    margin: auto;
  }
}
.article-item .item-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ededed;
  padding: 15px 17px;
  position: relative;
}
@media (max-width: 992px) {
  .article-item .item-head {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.article-item .img-cont {
  position: relative;
}
.article-item .img-cont span {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 0;
  inset-inline-start: 0;
  font-size: 16px;
  font-weight: 700;
  color: #999999;
}
.article-item .item-img {
  overflow: hidden;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: #fff;
  width: 66px;
  height: 66px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-item .item-img img {
  max-width: 100%;
  max-height: 100%;
}
.article-item .item-text {
  -webkit-margin-start: 12px;
          margin-inline-start: 12px;
}
@media (max-width: 992px) {
  .article-item .item-text {
    margin: 0 0 7px;
  }
}
.article-item .item-name {
  font-size: 16px;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 7px;
}
.article-item .item-rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
}
.article-item .item-rating span {
  font-size: 14px;
  color: #999999;
  -webkit-margin-start: 7px;
          margin-inline-start: 7px;
}
.article-item .stars {
  display: flex;
  align-items: center;
  color: #ff9436;
  font-size: 12px;
  -webkit-margin-end: 9px;
          margin-inline-end: 9px;
}
.article-item .stars i ~ i {
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}
.article-item .item-body {
  padding: 21px 21px 23px;
  width: 100%;
}
@media (max-width: 1199px) {
  .article-item .item-body {
    padding: 20px 15px;
  }
}
.article-item .item-list {
  margin-bottom: 29px;
}
@media (max-width: 992px) {
  .article-item .item-list {
    margin-bottom: 20px;
  }
}
.article-item li {
  line-height: 1.714;
  font-size: 14px;
  color: #4d4d4d;
  display: flex;
  align-items: flex-start;
  margin: 0;
}
.article-item li ~ li {
  margin-top: 15px;
}
.article-item li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-margin-end: 11px;
          margin-inline-end: 11px;
  font-size: 14px;
  color: #b3b3b3;
}
@media (max-width: 992px) {
  .article-item li::before {
    -webkit-margin-end: 6px;
            margin-inline-end: 6px;
  }
}
.article-item .item-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 171px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffad35;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.article-item .item-subscribe:hover {
  color: #fff;
  background-color: #ff9436;
  text-decoration: none;
}
.article-item.best {
  border-color: #ffad35;
}
.article-item.best .item-head {
  background-color: #ffad35;
}
.article-item.best .item-head::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 25px;
  color: #ffad35;
  content: "\f091";
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (max-width: 992px) {
  .article-item.best .item-head::after {
    position: absolute;
    top: 10px;
    inset-inline-end: 10px;
  }
}
.article-item.best .item-name {
  color: #fff;
}
.article-item.best .item-rating {
  color: #fff;
}
.article-item.best .item-rating span {
  color: #fff;
}
.article-item.best .stars {
  color: #fff;
}

.article-desc {
  margin-top: 95px;
  color: #4d4d4d !important;
  font-family: "taj" !important;
  line-height: 1.8 !important;
}
@media (max-width: 992px) {
  .article-desc {
    margin-top: 40px;
  }
}
.article-desc h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 15px;
}
@media (max-width: 992px) {
  .article-desc h6 {
    font-size: 20px;
    margin: 0 0 20px;
  }
}
.article-desc p {
  font-size: 18px;
  margin: 0 0 50px;
}
@media (max-width: 992px) {
  .article-desc p {
    font-size: 14px;
    margin: 0 0 25px;
  }
}

/*~~~~~~~~~~~~~~~~~~~ Banner */
.join-banner-sec {
  position: relative;
  background-color: #ffad35;
}
.join-banner-sec::after {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  content: "";
  background-image: url(../images/new/join/banner-pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 992px) {
  .join-banner-sec::after {
    width: 100%;
    display: none;
  }
}

.join-banner-cont {
  position: relative;
  min-height: 500px;
  height: 35.55vw;
}
@media (max-width: 992px) {
  .join-banner-cont {
    min-height: auto;
    height: auto;
    position: relative;
  }
  .join-banner-cont::after {
    position: absolute;
    top: 0;
    inset-inline-start: -15px;
    inset-inline-end: -15px;
    bottom: 0;
    width: calc(100% + 30px);
    height: 100%;
    content: "";
    background-image: url(../images/new/join/banner-pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.join-banner-text {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
}
@media (max-width: 992px) {
  .join-banner-text {
    align-items: center;
    text-align: center;
    padding: 25px 0;
    width: 100%;
  }
}

.join-banner-title {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 37px;
  font-weight: 800;
  color: #fff;
  width: 100%;
  max-width: 395px;
}
@media (max-width: 992px) {
  .join-banner-title {
    margin: 0 auto 25px;
    font-size: 32px;
  }
}

.join-banner-btn {
  background-color: #fff;
  width: 182px;
  height: 46px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 800;
  color: #ff9436;
  transition: all 0.3s ease-in-out;
}
.join-banner-btn:hover {
  color: #ff9436;
  transform: translateY(-5px);
  text-decoration: none;
}

.join-banner-img {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 992px) {
  .join-banner-img {
    position: relative;
    inset: unset;
    width: 100%;
    height: auto;
  }
}
.join-banner-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*~~~~~~~~~~~~~~~~~~~ Feats */
.join-ad-cont {
  width: 100%;
  max-width: 946px;
  margin: auto;
}

.join-feats-cont {
  padding: 75px 0 0;
}
@media (max-width: 992px) {
  .join-feats-cont {
    padding: 50px 0 0;
  }
}

.join-title {
  font-size: 30px;
  text-align: center;
  color: #4d4d4d;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .join-title {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

.join-feats-info {
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .join-feats-info {
    margin-bottom: 40px;
  }
}
.join-feats-info p {
  font-size: 18px;
  color: #4d4d4d;
  line-height: 2;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
@media (max-width: 992px) {
  .join-feats-info p {
    font-size: 16px;
  }
}

.join-feats-items {
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .join-feats-items {
    margin-bottom: 50px;
  }
}

.join-feats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 40px;
}
@media (max-width: 1199px) {
  .join-feats-grid {
    gap: 40px 15px;
  }
}
@media (max-width: 992px) {
  .join-feats-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.join-feat-item {
  width: 100%;
  max-width: 190px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
.join-feat-item .feat-icon {
  width: 163px;
  height: 163px;
  border: 1px solid #ededed;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .join-feat-item .feat-icon {
    width: 100%;
    max-width: 140px;
    height: 140px;
  }
}
.join-feat-item .feat-title {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
  color: #4d4d4d;
  margin: 0;
}
@media (max-width: 992px) {
  .join-feat-item .feat-title {
    gap: 14px;
  }
}

/*~~~~~~~~~~~~~~~~~~~ States */
.join-states-sec {
  background-image: url(../images/new/join/stats-pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.join-states-cont {
  padding: 100px 0 60px;
}
.join-states-cont .join-title {
  color: #fff;
}
@media (max-width: 992px) {
  .join-states-cont {
    padding: 50px 0 30px;
  }
}

.states-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 992px) {
  .states-grid {
    grid-template-columns: 1fr;
  }
}

.state-item {
  padding: 40px 0;
}
@media (max-width: 992px) {
  .state-item {
    padding: 20px 0;
  }
}
.state-item .state-value {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  direction: ltr;
  margin-bottom: 5px;
  line-height: 1.2;
}
.state-item .state-title {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.562;
  text-align: center;
  width: 100%;
  max-width: 240px;
}

/*~~~~~~~~~~~~~~~~~~~ countries */
.join-countries-sec {
  padding-top: 100px;
}
@media (max-width: 992px) {
  .join-countries-sec {
    padding: 50px 0 0;
  }
}

.progress-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .progress-item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.progress-item ~ .progress-item {
  margin-top: 14px;
}
@media (max-width: 992px) {
  .progress-item ~ .progress-item {
    margin-top: 20px;
  }
}
.progress-item .progress-info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 255px;
  -webkit-margin-end: 19px;
          margin-inline-end: 19px;
}
@media (max-width: 992px) {
  .progress-item .progress-info {
    width: 100%;
    margin: 0 0 7px;
  }
}
.progress-item .progress-num {
  font-size: 16px;
  color: #4d4d4d;
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
  width: 15px;
}
.progress-item .progress-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e6e6e6;
  overflow: hidden;
  -webkit-margin-end: 14px;
          margin-inline-end: 14px;
}
.progress-item .progress-img img {
  max-width: 100%;
}
.progress-item .progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #4d4d4d;
}
.progress-item .progress {
  width: 100%;
  background-color: #e6e6e6;
  height: 25px;
  border-radius: 12.5px;
}
.progress-item .progress-bar {
  border-radius: 12.5px;
  background-color: #ff9537;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: unset;
  width: 0;
}
.progress-item .prog-val {
  font-size: 16px;
  font-weight: 700;
  color: #999999;
  height: 25px;
  line-height: 25px;
  padding: 7px 0 0;
  top: 0;
  display: flex;
  align-items: center;
  position: absolute;
  inset-inline-start: calc(100% + 14px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.progress-item .prog-val.active {
  position: relative;
  inset: unset;
  color: #fff;
}
.progress-item .prog-val.show {
  visibility: visible;
  opacity: 1;
}

.join-visits-sec {
  padding-top: 110px;
}
@media (max-width: 992px) {
  .join-visits-sec {
    padding: 60px 0 0;
  }
}

/*~~~~~~~~~~~~~~~~~~~ desc */
.join-desc-sec {
  padding: 110px 0 90px;
}
@media (max-width: 992px) {
  .join-desc-sec {
    padding: 50px 0 40px;
  }
}

.join-desc div {
  margin-bottom: 70px;
}
.join-desc div p {
  text-align: center;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .join-desc div {
    margin-bottom: 40px;
  }
}
.join-desc p {
  font-size: 18px;
  color: #4d4d4d;
  margin-bottom: 40px;
  line-height: 1.667;
}
.join-desc p strong {
  font-weight: 700;
}
@media (max-width: 992px) {
  .join-desc p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.join-desc img {
  border: 1px solid #ededed;
  border-radius: 15px;
  max-width: 100%;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}
.join-desc h6 {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 700;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .join-desc h6 {
    font-size: 16px;
  }
}
.join-desc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.join-desc li {
  font-size: 18px;
  color: #4d4d4d;
  line-height: 1.667;
}
@media (max-width: 992px) {
  .join-desc li {
    font-size: 16px;
  }
}
.join-desc li::before {
  content: "-";
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
@media (max-width: 992px) {
  .join-desc li::before {
    margin: 0;
  }
}

/*~~~~~~~~~~~~~~~~~~~ plans */
.join-plans-sec {
  background-image: url(../images/new/join/plan-pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.join-plans-cont {
  padding: 100px 0;
}
.join-plans-cont .join-title {
  color: #fff;
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .join-plans-cont .join-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .join-plans-cont {
    padding: 50px 0;
  }
}

.plans-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px;
}
@media (max-width: 992px) {
  .plans-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.plan-item {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 35px 23px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 300px;
  height: 100%;
  margin: auto;
}
.plan-item .plan-head {
  text-align: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.plan-item .plan-title {
  font-size: 20px;
  font-weight: 700;
  color: #ff9537;
  margin: 0;
}
.plan-item .plan-body {
  height: 100%;
}
.plan-item .plan-feats {
  margin: 0;
}
.plan-item .plan-feats li {
  font-size: 16px;
  text-align: center;
  color: #4d4d4d;
  padding: 7px 0;
  border-bottom: 1px solid #ededed;
}
.plan-item .plan-feats li:last-of-type {
  border: none;
}
.plan-item .plane-foot {
  flex-shrink: 0;
  margin-top: 20px;
}
.plan-item .order-now {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 46px;
  border-radius: 23px;
  background-color: #ff9537;
  border: none;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.plan-item .order-now:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ffad35;
}

.mo-modal .pop-form {
  background-color: #fff;
  width: 555px;
  border-radius: 15px;
  max-width: 100%;
  padding: 39px 50px 23px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.mo-modal .pop-form.open {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 992px) {
  .mo-modal .pop-form {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
}
.mo-modal .form-title {
  font-size: 24px;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 15px;
  text-align: center;
}
.mo-modal .form-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 20px;
  text-align: center;
}
.mo-modal .label-input {
  margin-bottom: 15px;
}
.mo-modal .mo-input {
  flex: unset;
}
.mo-modal .submit-btn {
  margin: auto;
}

.mo-label {
  font-size: 14px;
  font-family: taj;
  font-weight: 700;
}

.mo-input {
  height: 47px;
}

textarea.mo-input {
  height: 102px;
}

.submit-btn {
  background-color: #ff9537;
  width: 150px;
  height: 46px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.submit-btn:hover {
  background-color: #ffad35;
  color: #fff;
}

.preloader {
  display: none;
}

@media (max-width: 992px) {
  .breadcrumb-sec {
    display: none;
  }
}/*# sourceMappingURL=new.css.map */