$text:#4d4d4d;
$search-back:#fcfcfc;
$plaeholder:#b8b8b8;
$place-ion:#cccccc;
$border:#ededed;
$secorange:#ff9436;
$orange:#ffad35;
$grey:#999999;
$green:#55c95b;
$back:#fafafa;
$code:#bfbfbf;
$red:#ea4c89;
$baby:#56bfea;
$brown:#a67c72;
$footer:#bababa;