header {
    height: 89px;

    * {
        @include transition(all 0.3s ease-in-out);
    }

    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 999;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        .nav-li {
            >.nav-anchor {
                line-height: 89px;
                transition: none;
                backface-visibility: hidden;

                &:after {
                    line-height: 89px;
                    backface-visibility: hidden;
                }
            }
        }

        &.scroll {

            .nav-li {
                >.nav-anchor {
                    line-height: 62px;
                    transition: none;
                    backface-visibility: hidden;

                    &:after {
                        line-height: 62px;
                        backface-visibility: hidden;
                    }
                }
            }

            .logo {
                width: 150px;
            }

            .nav-tgl {
                top: 30px;
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 190px;
        display: block;
    }

    ._2nd-sec {
        display: flex;
    }
}

.mega-over {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;

    @include xs {
        display: none !important;
    }
}