// .famous-stores{}
.stores {
    display: flex;
    flex-wrap: wrap;

    @include xs {
        justify-content: center;
    }


    .store {
        margin-left: 11px;

        &:nth-of-type(7n) {
            margin-left: 0;
        }

        @include xs {
            &:nth-of-type(7n) {
                margin-left: 11px;
            }

            &:nth-of-type(2n) {
                margin-left: 0;
            }
        }
    }
}

.store {
    width: 149px;
    height: 149px;
    border: 1px solid $border;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backface-visibility: hidden;
    margin-bottom: 30px;
    overflow: hidden;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
        transform: translateY(-8px);
    }

    img {
        width: auto !important;
    }


}

.famous-stores {
    .store {
        @include xs {
            width: 100px;
            height: 100px;
        }
    }

    .swiper-pagination-bullets {
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include xs {
            display: flex;
        }

        .swiper-pagination-bullet {
            background: rgba(#000, 0.3);
            outline: none;
            border: none;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.swiper-pagination-bullet-active {
                background: $secorange;
                pointer-events: none;
            }

            &:hover {
                background: $secorange;
            }
        }
    }
}