.page-404 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;

    .div404 {
        width: 100px;
        height: 100px;
        background-color: #ffa101;
        border: 2px solid #d08e00;
        position: relative;
        transform: rotate(45deg);
        margin-bottom: 25px;

        &:after {
            content: "";
            background-color: transparent;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            position: absolute;
            border: 2px dashed #000;
        }
    }

    .page-head {
        color: #000;
        font-family: black;
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .errer-head {
        font-size: 25px;
        font-family: xbold;
        color: #000;
        margin-bottom: 20px;
        margin-top: 20px;

        @include xs {
            font-size: 25px;
        }
    }

    .error-text {
        font-size: 20px;
        color: $text;
        width: 400px;
        margin-bottom: 35px;

        @include xs {
            width: 100%;
        }
    }

    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 25px;
        width: 200px;
        color: $orange;
        font-family: bold;
        border: 2px solid $orange;
        @include transition(all 0.3s ease-in-out);

        &:after {
            content: "\f060";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            background-color: $orange;
            color: #fff;

            &:after {
                transform: translateX(-5px);
            }
        }


    }
}