.famous-blog {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .item {
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin: 0;

        @include sm {
            width: 100%;
            margin: 0;
        }

        &::before {
            content: "";
            padding-bottom: 87%;

            @include sm {
                padding-bottom: 87.7%;
            }
        }

        .imgs {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            left: 0;
        }

        .item-img {
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .item-desc {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 25px;
        }

        .item-name {
            font-size: 22px;
            font-family: bold;
            color: #fff;
            height: auto;

            @include sm {
                font-size: 18px;
            }
        }

        .item-text {
            color: #cccccc;
            font-size: 16px;

            @include sm {
                display: none;
            }
        }
    }

    .half-item {
        width: 50%;
        display: flex;
        flex-wrap: wrap;

        .item {
            width: calc(50% - 4px);
            margin-right: 4px;
            margin-bottom: 3px;

            @include sm {
                width: 100%;
                margin: 0;
            }

            &::before {
                content: "";
                padding-bottom: 87.7%
            }

            &:nth-of-type(n + 3) {
                margin-bottom: 0;
            }
        }

        .item-name {
            font-size: 18px;
        }
    }
}

.banner {
    margin-top: 40px;
    overflow: hidden;

    @include sm {
        margin-top: 30px;
    }
}

.page-rest {
    margin-top: 60px;
    margin-bottom: 120px;

    @include sm {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .stores {
        .store {
            width: 112px;
            height: 112px;
            margin-left: 6px;
            margin-bottom: 9px;

            @include sm {
                margin: auto;
            }

            &:nth-of-type(3n) {
                margin-left: 0;

                @include sm {
                    margin: auto;
                }

            }

            &:nth-of-type(7n) {
                margin-left: 6px;

                @include sm {
                    margin: auto;
                }

            }
        }
    }

    .newlleter-page {
        margin-bottom: 35px;
    }
}

.latest-blog {
    .item {
        margin-bottom: 40px;

        .item-desc {
            padding: 15px 10px 0;
        }

        .item-name {
            margin: 0;
            font-size: 17px;
        }

        .item-img {
            height: 233px;
        }
    }

    @include sm {
        margin-bottom: 30px;
    }
}

.cat-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 13px;
    margin-bottom: 11px;

    &:last-of-type {
        padding: 0;
        margin: 0;
        border: none;
    }

    .cat-link {
        font-size: 17px;
        color: $text;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $orange;
        }
    }

    .post-count {
        font-size: 16px;
        color: $text;
        height: 24px;
        line-height: 24px;
        background-color: #e6e6e6;
        border-radius: 12px;
        width: 40px;
        text-align: center;
    }
}