.top-stores {
    position: relative;

    .store {
        margin-top: 10px;

        @include xs {
            width: 100px;
            height: 100px;
        }
    }

    .swiper-pagination-bullets {
        display: none;
        width: 100%;

        @include xs {
            display: flex;
        }

        align-items: center;
        justify-content: center;

        .swiper-pagination-bullet {
            background: rgba(#000, 0.3);
            outline: none;
            border: none;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.swiper-pagination-bullet-active {
                background: $secorange;
                pointer-events: none;
            }

            &:hover {
                background: $secorange;
            }
        }
    }



    .swiper-btn {
        position: absolute;
        top: 67px;
        outline: none;
        border: none;
        color: rgba(#000, 0.4);
        background: none;
        font-size: 20px;
        @include transition(all 0.3s ease-in-out);

        @include sm {
            display: none;
        }

        &::after,
        &::before {
            display: none;
        }

        &.swiper-button-next {
            right: -40px;
        }

        &.swiper-button-prev {
            left: -40px;
        }

        &:hover {
            color: $secorange;
        }
    }

}



.mo-paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 47px;
    flex-wrap: wrap;
}

.page-num {
    margin-bottom: 12px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    color: $text;
    font-family: med;
    margin: 0 2px;
    border-radius: 18px;
    border: 1px solid $border;
    @include transition(all 0.3s ease-in-out);
    text-align: center;
    line-height: 36px;
    background-color: #fff;

    &:hover,
    &:focus {
        border-color: $orange;
        color: $orange;
    }

    &:first-of-type {
        width: 110px;
    }

    @include xs {
        margin-bottom: 4px;
    }

    &.active {
        background-color: $orange;
        color: #fff;
        pointer-events: none;
    }
}